 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 43px 552px 0 25px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  letter-spacing: 2px;
  margin: -675px -80px 0 657px;
}

.u-section-1 .u-text-3 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  margin: 10px -80px 0 657px;
}

.u-section-1 .u-text-4 {
  background-image: none;
  letter-spacing: 2px;
  text-align: start;
  margin: 25px -80px 0 657px;
}

.u-section-1 .u-text-5 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  margin: 15px 0 0 657px;
}

.u-section-1 .u-text-6 {
  background-image: none;
  letter-spacing: 2px;
  text-align: start;
  margin: 59px -80px 0 657px;
}

.u-section-1 .u-text-7 {
  background-image: none;
  letter-spacing: 2px;
  text-align: start;
  margin: 28px 552px 0 25px;
}

.u-section-1 .u-text-8 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  font-size: 1.25rem;
  margin: -20px -80px 48px 657px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 377px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 557px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 557px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 557px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 557px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 557px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 377px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 557px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 157px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 157px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 357px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 357px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 357px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 357px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 357px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 357px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 257px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 811px;
}

.u-section-2 .u-image-1 {
  width: 647px;
  height: 94px;
  margin: 26px auto 0 12px;
}

.u-section-2 .u-text-1 {
  font-family: AkiraExpandedDemo;
  margin: -44px auto 0 51px;
}

.u-section-2 .u-text-2 {
  font-family: AkiraExpandedDemo;
  text-align: start;
  margin: -57px auto 0 431px;
}

.u-section-2 .u-text-3 {
  font-family: AkiraExpandedDemo;
  text-align: start;
  margin: -57px 63px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  text-align: start;
  margin: 26px 762px 0 51px;
}

.u-section-2 .u-text-5 {
  font-weight: normal;
  text-align: start;
  margin: -150px 382px 0 431px;
}

.u-section-2 .u-text-6 {
  font-weight: normal;
  text-align: start;
  margin: -150px 18px 0 795px;
}

.u-section-2 .u-text-7 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  margin: 27px 786px 0 51px;
}

.u-section-2 .u-text-8 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  margin: -240px 406px 0 431px;
}

.u-section-2 .u-text-9 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  margin: -208px 18px 60px 795px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 355px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 613px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 282px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 613px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 637px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 306px;
    margin-left: 331px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 272px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 393px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 172px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 393px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 417px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 196px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 78px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -28px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 204px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 213px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 82px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 213px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 237px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 106px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 128px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 37px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 6px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 13px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 440px;
}

.u-section-3 .u-group-1 {
  width: 1075px;
  background-image: none;
  min-height: 265px;
  margin: 105px 26px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 190px;
  height: 107px;
  filter: brightness(0);
  margin: 31px 191px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 73px;
  height: 73px;
  margin: -6px 351px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 96px;
  height: 64px;
  margin: -68px 213px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 70px;
  height: 88px;
  filter: brightness(0);
  margin: -169px 81px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 55px;
  height: 68px;
  filter: brightness(0);
  margin: -68px 423px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 96px;
  height: 55px;
  filter: brightness(0);
  margin: -62px auto 0 308px;
}

.u-section-3 .u-image-7 {
  width: 228px;
  height: 42px;
  filter: brightness(0);
  margin: -49px auto 0 39px;
}

.u-section-3 .u-image-8 {
  width: 112px;
  height: 42px;
  filter: brightness(0);
  margin: -42px auto 0 444px;
}

.u-section-3 .u-image-9 {
  width: 143px;
  height: 59px;
  margin: 41px auto 0;
}

.u-section-3 .u-image-10 {
  width: 128px;
  height: 48px;
  filter: brightness(0);
  margin: -53px auto 0 298px;
}

.u-section-3 .u-image-11 {
  width: 218px;
  height: 27px;
  margin: -38px auto 0 39px;
}

.u-section-3 .u-image-12 {
  width: 646px;
  height: 90px;
  margin: -319px auto 60px 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: -174px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 428px;
  }

  .u-section-3 .u-image-12 {
    width: 540px;
    height: 75px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 150px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 267px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 285px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 244px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 228px;
  }

  .u-section-3 .u-image-10 {
    margin-left: 212px;
  }

  .u-section-3 .u-image-12 {
    width: 340px;
    height: 47px;
  }
}@font-face {
  font-family: 'AkiraExpandedDemo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AkiraExpandedDemo.otf);
}