 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 604px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 19px 0 0;
}

.u-section-1 .u-image-1 {
  width: 729px;
  height: 410px;
  margin: 11px auto 0;
}

.u-section-1 .u-image-2 {
  width: 127px;
  height: 127px;
  margin: -127px 26px 50px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-image-1 {
    width: 633px;
    height: 356px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 13px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 477px;
    height: 268px;
    margin-top: 19px;
    margin-left: 68px;
  }

  .u-section-1 .u-image-2 {
    width: 98px;
    height: 98px;
    margin-top: -98px;
    margin-right: 39px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 257px;
    height: 144px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 45px;
    height: 45px;
    margin-top: -45px;
    margin-right: 19px;
    margin-bottom: 19px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 579px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  text-align: start;
  margin: -336px 44px 55px 319px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-left: -12px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -264px;
    margin-bottom: 30px;
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin: 20px auto 55px -12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    margin-left: -19px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin: -192px -25px 30px 148px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2411px;
}

.u-section-3 .u-image-1 {
  width: 226px;
  height: 101px;
  object-position: 50% 100%;
  margin: 12px auto 0 420px;
}

.u-section-3 .u-text-1 {
  font-family: AkiraExpandedDemo;
  font-size: 1.5rem;
  margin: -74px 696px 0 16px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin: 30px 12px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-3 .u-image-1 {
    height: 100px;
    margin-top: 41px;
    margin-right: 315px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -69px;
    margin-right: 512px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 20px 0 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3246px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 45px;
    margin-right: 95px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -73px;
    margin-right: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2359px;
  }

  .u-section-3 .u-image-1 {
    width: 104px;
    height: 46px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2265px;
}

.u-section-4 .u-text-1 {
  font-family: AkiraExpandedDemo;
  font-size: 1.5rem;
  text-align: start;
  margin: 20px 284px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 11px 0 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2612px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2185px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
    margin-bottom: 20px;
  }
}@font-face {
  font-family: 'AkiraExpandedDemo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AkiraExpandedDemo.otf);
}