 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1 .u-image-1 {
  width: 143px;
  height: 143px;
  object-position: 50% 10.31%;
  background-image: url("images/TyreseMilsteinDigitals5.jpg");
  background-position: 50% 20.94%;
  animation-duration: 1000ms;
  margin: 208px auto 0 207px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 126px;
  margin: -106px auto 0 363px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  font-weight: 700;
  font-style: italic;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: 13px auto 0 617px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: -32px auto 0 509px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  animation-duration: 1000ms;
  font-weight: normal;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
  margin: -32px auto 60px 599px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 230px;
    margin-left: 105px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -125px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 484px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 395px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 122px;
    height: 122px;
    margin-top: 278px;
    margin-left: 87px;
  }

  .u-section-1 .u-image-2 {
    width: 416px;
    height: 92px;
    margin-top: -100px;
    margin-right: auto;
    margin-left: 229px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 34px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 376px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 283px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 282px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 55px;
    margin-left: 212px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 271px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 133px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 171px;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  color: #f9de76 !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  color: #f9de76 !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  color: #f9de76 !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  color: #f9de76 !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 802px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  animation-duration: 1000ms;
  font-size: 1rem;
  margin: 43px 552px 0 25px;
}

.u-section-2 .u-text-2 {
  background-image: none;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: -675px -80px 0 657px;
}

.u-section-2 .u-text-3 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  font-size: 1rem;
  margin: 10px -80px 0 657px;
}

.u-section-2 .u-text-4 {
  background-image: none;
  letter-spacing: 2px;
  text-align: start;
  font-size: 1rem;
  margin: 25px -80px 0 657px;
}

.u-section-2 .u-text-5 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  font-size: 1rem;
  margin: 15px 0 0 657px;
}

.u-section-2 .u-text-6 {
  background-image: none;
  letter-spacing: 2px;
  text-align: start;
  font-size: 1rem;
  margin: 59px -80px 0 657px;
}

.u-section-2 .u-text-7 {
  background-image: none;
  letter-spacing: 2px;
  text-align: start;
  font-size: 1rem;
  margin: 28px 552px 0 25px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-text-8 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  font-size: 1.25rem;
  margin: -20px -80px 48px 657px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 91px;
    margin-right: 377px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: -418px;
    margin-right: -176px;
    margin-left: 578px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 0.75rem;
    margin-right: -176px;
    margin-left: 578px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    width: auto;
    margin-right: -176px;
    margin-left: 578px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    font-size: 0.75rem;
    margin-right: -176px;
    margin-left: 578px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 1px;
    margin-right: 377px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 5px;
    margin-right: -201px;
    margin-left: 578px;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    margin: -16px 352px 60px 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 317px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -513px;
    margin-right: -248px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 12px;
    margin-right: -247px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 26px;
    margin-right: -247px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 13px;
    margin-right: -247px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 13px;
    margin-right: -248px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 54px;
    margin-right: -162px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -60px;
    margin-right: -63px;
    margin-left: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -418px;
    margin-right: -80px;
    margin-left: 357px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 357px;
    margin-right: -80px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -80px;
    margin-left: 357px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 357px;
  }

  .u-section-2 .u-text-6 {
    margin-right: -80px;
    margin-left: 357px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 340px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-left: 257px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 257px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 257px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -176px;
    margin-left: 257px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 257px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 810px;
}

.u-section-3 .u-image-1 {
  width: 647px;
  height: 94px;
  margin: 101px auto 0 12px;
}

.u-section-3 .u-text-1 {
  font-family: AkiraExpandedDemo;
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: -35px auto 0 27px;
}

.u-section-3 .u-text-2 {
  font-family: AkiraExpandedDemo;
  text-align: start;
  font-size: 2.25rem;
  margin: -57px auto 0 431px;
}

.u-section-3 .u-text-3 {
  font-family: AkiraExpandedDemo;
  text-align: start;
  font-size: 2.25rem;
  margin: -57px 66px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: normal;
  text-align: start;
  font-size: 1rem;
  margin: 11px 786px 0 27px;
}

.u-section-3 .u-text-5 {
  font-weight: normal;
  text-align: start;
  font-size: 1rem;
  margin: -150px 382px 0 431px;
}

.u-section-3 .u-text-6 {
  font-weight: normal;
  text-align: start;
  font-size: 1rem;
  margin: -150px 22px 0 791px;
}

.u-section-3 .u-text-7 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  font-size: 1rem;
  margin: 27px 810px 0 27px;
}

.u-section-3 .u-text-8 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  font-size: 1rem;
  margin: -240px 22px 0 791px;
}

.u-section-3 .u-text-9 {
  font-family: AkiraExpandedDemo;
  line-height: 1;
  text-align: start;
  font-size: 1rem;
  margin: -160px 406px 60px 431px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 26px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -48px;
    margin-left: 331px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -52px;
    margin-right: 64px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 0;
    margin-right: 629px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -95px;
    margin-right: 310px;
    margin-left: 332px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -95px;
    margin-right: 0;
    margin-left: 643px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 26px;
    margin-right: 625px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -205px;
    margin-right: 0;
    margin-left: 637px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -140px;
    margin-right: 306px;
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 254px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 421px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: 421px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 421px;
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 417px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: -231px;
    margin-left: 393px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 78px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -19px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 241px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -95px;
    margin-right: 110px;
    margin-left: 132px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 213px;
    margin-top: -95px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 237px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 213px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -114px;
    margin-right: 106px;
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 49px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 120px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 41px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 10px;
    margin-left: 32px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 43px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 37px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 6px;
    margin-left: 31px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 440px;
}

.u-section-4 .u-group-1 {
  width: 1075px;
  background-image: none;
  min-height: 265px;
  animation-duration: 1000ms;
  margin: 105px 26px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 190px;
  height: 107px;
  filter: brightness(0);
  margin: 31px 191px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 73px;
  height: 73px;
  margin: -6px 351px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 96px;
  height: 64px;
  margin: -68px 213px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 70px;
  height: 88px;
  filter: brightness(0);
  margin: -169px 81px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 55px;
  height: 68px;
  filter: brightness(0);
  margin: -68px 423px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 96px;
  height: 55px;
  filter: brightness(0);
  margin: -62px auto 0 308px;
}

.u-section-4 .u-image-7 {
  width: 228px;
  height: 42px;
  filter: brightness(0);
  margin: -49px auto 0 39px;
}

.u-section-4 .u-image-8 {
  width: 112px;
  height: 42px;
  filter: brightness(0);
  margin: -42px auto 0 444px;
}

.u-section-4 .u-image-9 {
  width: 143px;
  height: 59px;
  margin: 41px auto 0;
}

.u-section-4 .u-image-10 {
  width: 128px;
  height: 48px;
  filter: brightness(0);
  margin: -53px auto 0 298px;
}

.u-section-4 .u-image-11 {
  width: 218px;
  height: 27px;
  margin: -38px auto 0 39px;
}

.u-section-4 .u-image-12 {
  width: 646px;
  height: 90px;
  margin: -319px auto 60px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    min-height: 239px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: 27px;
    margin-right: 150px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -9px;
    margin-right: auto;
    margin-left: 284px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -69px;
    margin-right: 309px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -167px;
    margin-right: 66px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 13px;
    margin-right: 81px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -142px;
  }

  .u-section-4 .u-image-8 {
    margin-top: 36px;
    margin-right: 175px;
    margin-left: auto;
  }

  .u-section-4 .u-image-9 {
    margin-top: -124px;
    margin-right: 364px;
  }

  .u-section-4 .u-image-10 {
    margin-top: 23px;
    margin-left: 381px;
  }

  .u-section-4 .u-image-11 {
    margin-top: -48px;
  }

  .u-section-4 .u-image-12 {
    margin-top: -289px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    min-height: 265px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 284px;
  }

  .u-section-4 .u-image-10 {
    margin-top: 20px;
    margin-right: 364px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -69px;
    margin-right: 309px;
    margin-left: auto;
  }

  .u-section-4 .u-image-10 {
    margin-top: -53px;
    margin-right: auto;
    margin-left: 298px;
  }

  .u-section-4 .u-image-12 {
    width: 540px;
    height: 75px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 267px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 244px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 244px;
  }

  .u-section-4 .u-image-9 {
    margin-right: 197px;
  }

  .u-section-4 .u-image-10 {
    margin-left: 212px;
  }

  .u-section-4 .u-image-12 {
    width: 340px;
    height: 47px;
  }
}@font-face {
  font-family: 'AkiraExpandedDemo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AkiraExpandedDemo.otf);
}